aiohttp
aiosignal
alembic
anyio
appnope
async-timeout
attrs
beautifulsoup4
black
cookiecutter
cssselect
decorator
distlib
fastapi
fastjsonschema
feedfinder2
feedparser
frozenlist
html5lib
httpcore
httpx
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab-pygments
jupyterlab-widgets
lxml
marshmallow
marshmallow-sqlalchemy
matplotlib-inline
mistune
more-itertools
msgpack
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
newspaper3k
nltk
notebook
numpy
openpyxl
pandas
pathspec
pip-chill
pipe
pkginfo
platformdirs
pluggy
poetry
poetry-core
poetry-plugin-export
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
pycparser
pydantic
Pygments
pyparsing
pyproject_hooks
pyrsistent
pytest
pytz
PyYAML
pyzmq
regex
requests
six
SQLAlchemy
tomli
tomlkit
tqdm
traitlets
typing_extensions
tzdata
uvicorn
virtualenv
wcwidth
webencodings
Werkzeug
widgetsnbextension
xattr
xmltodict
yarl